*{
    font-family: sans-serif;
}

h1 {
    color: rgb(240, 199, 17);
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    backdrop-filter: blur (23px);
    font-size: 37px;
    font-weight: 600;
}


label {
 padding: 10px;
display: grid;
}
body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #c0e082 12%, transparent 12.5%, transparent 87%, #c0e082 87.5%, #c0e082), linear-gradient(150deg, #c0e082 12%, transparent 12.5%, transparent 87%, #c0e082 87.5%, #c0e082), linear-gradient(30deg, #c0e082 12%, transparent 12.5%, transparent 87%, #c0e082 87.5%, #c0e082), linear-gradient(150deg, #c0e082 12%, transparent 12.5%, transparent 87%, #c0e082 87.5%, #c0e082), linear-gradient(60deg, #c0e08277 25%, transparent 25.5%, transparent 75%, #c0e08277 75%, #c0e08277), linear-gradient(60deg, #c0e08277 25%, transparent 25.5%, transparent 75%, #c0e08277 75%, #c0e08277);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    
}
.Decoracion{
    background-color: #96ff8b;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    font-size: 20px;
    font-weight: 600;

}
.Decoracion input{
    padding-bottom: 5px 15px -5px;
    background-color: #e7f156;
  backdrop-filter: blur(23px);
  margin: 0 10px;
  border-radius: 17px;
  box-shadow: inset 0 25px 50px rgb(30, 20 ,30, 0.30);
  
}

.Decoracion_contenedor{
    margin-top: 2em;
 display: grid;
    gap: 2.5em;
    width: 70%;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: aqua;
    background-color: #96ff8b;
    
    
}