h1 {
    color: blue;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
}


label {
 padding: 10px;
display: grid;
}
body {

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #a6fd52, #e5e5f7), repeating-radial-gradient(circle at center center, #a6fd52, #a6fd52, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    background-position: 0 0, 10px 10px;
   
}
.form{
    background-color: #19b30b;
    margin: auto;
    width: 90%;
    max-width: 400px;
}
